---
import Layout from '../layouts/Layout.astro';

export const prerender = false;

return Astro.redirect('/login');
---

<Layout title="CaLEANdar">
	<main>
		<!-- <h1>Lean Mind</h1> -->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
    overflow: hidden;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
